<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="exe_2_PABD.Properties.Settings.ProdiTIConnectionString"
            connectionString="Data Source=DESKTOP-G7A7JK2\SQL_IBD;Initial Catalog=ProdiTI;User ID=sa;Password=Bulungan011213"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>